body {
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
}

.links {
    margin: 0.25rem;
}

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: darkgrey;
    margin: 1rem auto;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: block;
}

/* Style navigation menu links */
.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
    background: white;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
    background-color: #ddd;
    color: grey;
}

/* Style the active link (or home/logo) */
.active {
    background-color: darkslategray;
    color: white;
}