@import '~antd/dist/antd.css';

.App {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.trueChallenge {
  font-size: smaller;
  text-align: center;
  background-color: lightgreen;
}

.falseChallenge {
  background-color: orange;
  font-size: smaller;
  text-align: center;
}

form {
  margin-top: 5rem;
}

.matches {
  border: 1px solid red;
  margin: 0.5rem;
}

.playerCardContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

}

.ant-card-body {
  background-color: dodgerblue;
}
input{
  margin: 0.25rem;
  text-align: center;
}

.textInput {
  width: 20%;
}

.numberInput {
  width: 5%;
}
span {
  margin: 0.3rem;
}